html, body
    height 100%
    padding 0
    margin 0

.navbar
    margin-bottom 0

.navbar-inner.customized
    padding 0 2em 0 2em

.nav.messages
    margin-top 0.7em

.message-notice-wrapper
    margin-right 1em

#message-notice
    display none

.new-hast-box
    position absolute
    top 42px
    bottom 0

.deck-box
    height 89%
    padding-top 6em

.editor-box
    height 94%
    background-color #DCDCDC

.editor-header
    text-align center

#editor
    height 100%

.control-keys
    font-size 1.5em
    text-align center

.keys-group
    display inline-block
    font-size 1em

.deck-container.inFullScreen
    position  absolute
    top       0
    left      0
    bottom    0
    right     0
    width     auto
    height    auto
    padding   0em 12em

.editor-box.inFullScreen
    display none

.navbar.inFullScreen
    display none

.control-keys.inFullScreen
    display none

.exit-full-screen-btn
    visibility hidden
    position absolute
    right 2em
    bottom 2em
    z-index 3000

.exit-full-screen-btn.inFullScreen
    visibility visible

.archives-box
    min-width 400px
    max-width 900px
    margin-top 2em
    margin-left 4em
    margin-right 4em
