html, body
    height 100%
    padding 0
    margin 0

.navbar-inner.customized
    padding 0 2em 0 2em

.nav.messages
    margin-top 0.7em

.message-notice-wrapper
    margin-right 1em

#message-notice
    display none

.deck-box
    padding 4em
    width 650px
    float left
    height 450px

.editor-box
    padding-top 3em
    width 400px
    float right
    height auto

#editor
    height 700px

.new-hast-box
    min-width 1200px

.control-keys
    padding-top 1em
    font-size 1.5em

.keys-group
    margin auto
    width 300px
    font-size 1em

.deck-container.inFullScreen
    position  absolute
    top       0
    left      0
    width     auto
    height    auto
    padding   4em
    z-index   2000

.editor-box.inFullScreen
    display none

.navbar.inFullScreen
    display none

.control-keys.inFullScreen
    display none

.exit-full-screen-btn
    visibility hidden
    position absolute
    right 2em
    bottom 2em
    z-index 2001

.exit-full-screen-btn.inFullScreen
    visibility visible

